## Zamboanga City Land Price Prediction (Aggricultural)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import math, statistics

### Import dataset

In [5]:
df = pd.read_csv("../datasets/Land - Aggricultural.csv")
df.head()

,Barangay,Classification,Area (hectares),Actual Use,Product Class,Abaca,Banana Hills,Coconut Trees,Cocot Trees,Mango Trees,Marang Trees,Coffee,Juani,Nangca,Non-Fruit,Fruit,Effectivity,Market Value
0,Cabatangan,Aggricultural,0.9077,Coco Land,Coconut-1st,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,90,2012.0,46450.0
1,Cabatangan,Aggricultural,0.9077,Coco Land,Coconut-1st,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,90,2012.0,17550.0
2,Cabatangan,Aggricultural,0.3100,Coco Land,CTB,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,5,2012.0,449490.0
3,Cabatangan,Aggricultural,1.3820,Coco Land,CTB,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,50,2012.0,371480.0
4,Cabatangan,Aggricultural,1.0954,Coco Land,CTB,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,40,2012.0,125990.0

### Data Cleaning

In [6]:
df.columns

Index(['Barangay', 'Classification', 'Area (hectares)', 'Actual Use',
       'Product Class', 'Abaca', 'Banana Hills', 'Coconut Trees',
       'Cocot Trees', 'Mango Trees', 'Marang Trees', 'Coffee', 'Juani',
       'Nangca', 'Non-Fruit', 'Fruit', 'Effectivity', 'Market Value'],
      dtype='object')

In [7]:
df.isna().sum()

Barangay            0
Classification      0
Area (hectares)     0
Actual Use          1
Product Class       6
Abaca              15
Banana Hills       14
Coconut Trees       2
Cocot Trees        17
Mango Trees        12
Marang Trees       13
Coffee             15
Juani              14
Nangca             14
Non-Fruit          49
Fruit               0
Effectivity        12
Market Value        0
dtype: int64

##### Renaming column names

In [8]:
df.columns = df.columns.str.lower()

In [9]:
df.columns

Index(['barangay', 'classification', 'area (hectares)', 'actual use',
       'product class', 'abaca', 'banana hills', 'coconut trees',
       'cocot trees', 'mango trees', 'marang trees', 'coffee', 'juani',
       'nangca', 'non-fruit', 'fruit', 'effectivity', 'market value'],
      dtype='object')

In [10]:
df = df.rename(columns={'address':'brgy','land area':'land_area','market value':'target_value'
})
df.columns

Index(['barangay', 'classification', 'area (hectares)', 'actual use',
       'product class', 'abaca', 'banana hills', 'coconut trees',
       'cocot trees', 'mango trees', 'marang trees', 'coffee', 'juani',
       'nangca', 'non-fruit', 'fruit', 'effectivity', 'target_value'],
      dtype='object')

##### Barangay

In [11]:
df['brgy'] = df['brgy'].str.lower()
df['brgy'].head()

KeyError: 'brgy'

In [ ]:
pd.set_option("display.max_column", None)
df['brgy'].unique()

array(['pasonanca', 'zone 3', 'zone 1', 'zone 2', 'zone 4', 'santa maria',
       'tetuan', 'san jose gusu', 'san roque', 'tugbungan'], dtype=object)

In [ ]:
df['brgy'] = df['brgy'].replace({'pasonanca':0, 'zone 3':1, 'zone 1':2, 'zone 2':3, 'zone 4':4, 'santa maria':5, 'tetuan':6, 'san jose gusu':7, 'san roque':8, 'tugbungan':9
})

In [ ]:
df['brgy'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

##### Checking for null

In [ ]:
df.isna().sum()

brgy              0
classification    0
land_area         0
target_value      0
dtype: int64

### Classification

In [ ]:
df['classification'] = df['classification'].str.lower()
df['classification'].unique()

array(['commercial', 'residential'], dtype=object)

In [ ]:
df['classification'] = df['classification'].replace({'residential':0,'commercial':1})
df['classification'].unique()

array([1, 0], dtype=int64)

In [ ]:
df.head()

   brgy  classification  land_area  target_value
0     0               1       29.0      229100.0
1     0               1      361.0     2851900.0
2     1               1      842.0     6651800.0
3     1               1      857.0     6770300.0
4     1               1       20.0      158000.0

##### End of Cleaning

### Pre-Processing

In [ ]:
X = df.drop('target_value',axis=1)
       
y = df.target_value

### Metrics Model

### Gradient Boosting

In [ ]:
from sklearn import metrics
from xgboost import XGBRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=13)

xgbr = XGBRegressor(verbosity=0)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

xgbr.fit(X_train, y_train)

y_pred = xgbr.predict(X_test)

# Result of MAE
print("Mean Absolute Error:",metrics.mean_absolute_error(y_test, y_pred))

# Result of MSE
print("Mean Squared Error:",metrics.mean_squared_error(y_test, y_pred))

# Result of RMSE
print("Root Mean Squared Error:",np.sqrt(metrics.mean_absolute_error(y_test, y_pred)))

# Result of R^2
print("R Squared:",r2_score(y_test, y_pred))

Mean Absolute Error: 279270.07861328125
Mean Squared Error: 338515511254.35876
Root Mean Squared Error: 528.4601012501145
R Squared: 0.8612833092914087

In [ ]:
df.columns

Index(['brgy', 'classification', 'land_area', 'target_value'], dtype='object')

In [ ]:
from sklearn import ensemble
from sklearn.inspection import permutation_importance

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

params = {
    "n_estimators": 100,
    "max_depth": 3,
    "min_samples_split": 2,
    "learning_rate": 0.3,
    "loss": "squared_error",
}
reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

y_pred = reg.predict(X_test)
# Result of MAE
print("Mean Absolute Error:",metrics.mean_absolute_error(y_test, y_pred))

# Result of MSE
print("Mean Squared Error:",metrics.mean_squared_error(y_test, y_pred))

# Result of RMSE
print("Root Mean Squared Error:",np.sqrt(metrics.mean_absolute_error(y_test, y_pred)))

# Result of R^2
print("R Squared:",r2_score(y_test, y_pred))

Mean Absolute Error: 247715.8586841479
Mean Squared Error: 296225418649.2623
Root Mean Squared Error: 497.71061741151146
R Squared: 0.8479504310397888

### Export pickle file

In [ ]:
import pickle

pickle.dump(reg, open('model_commercial.pkl','wb'))

In [ ]:
model = pickle.load(open('model_commercial.pkl','rb'))

In [ ]:
import json

columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns_commercial.json","w") as f:
    f.write(json.dumps(columns))

In [ ]:
df.to_csv (r'D:\System\broker\datasets\export_dataframe_commercial.csv', index = False, header=True)

print (df)

     brgy  classification   land_area  target_value
0       0               1     29.0000     229100.00
1       0               1    361.0000    2851900.00
2       1               1    842.0000    6651800.00
3       1               1    857.0000    6770300.00
4       1               1     20.0000     158000.00
5       1               1    842.0000    6651800.00
6       1               1    857.0000    6770300.00
7       1               1   1183.0000    1324960.00
8       2               1     30.6600     242214.00
9       2               1    200.0000    1580000.00
10      2               1    200.0000    1580000.00
11      2               1    710.0000    5609000.00
12      2               1    200.0000    1580000.00
13      2               1    200.0000    1580000.00
14      2               1    236.0000    1864400.00
15      2               1    400.0000    3160000.00
16      2               1    120.0000     948000.00
17      2               1    471.0000    2684700.00
18      2               1    163.0000     929100.00
19      2               1    164.0000     934800.00
20      2               1     31.0000     244900.00
21      2               1   1014.0000    5779800.00
22      2               1     11.3100      89349.00
23      2               1    124.0000     979600.00
24      2               1     41.0000     323900.00
25      2               1     99.0000     782100.00
26      2               1     20.5000     161950.00
27      2               1    323.0000    2551700.00
28      2               1     18.5500     146545.00
29      2               1    756.0000    5972400.00
30      3               1     10.0000      79000.00
31      3               1   1469.0000   11605100.00
32      3               1     30.0000     171000.00
33      3               1   1129.0000    6435300.00
34      3               1      8.0000      45600.00
35      3               1    255.0000    1453500.00
36      3               1    300.0000    1710000.00
37      3               1     10.0000      57000.00
38      3               1    439.0000    2502300.00
39      3               1     18.0000     102600.00
40      1               1   3462.0000    5193000.00
41      1               1    400.0000     940000.00
42      1               1    200.0000     470000.00
43      1               1    597.0000    1402950.00
44      1               1    353.0000     395360.00
45      1               1    686.0000    1029000.00
46      1               1    686.0000    1029000.00
47      1               1    407.0000     956450.00
48      1               1    407.0000     956450.00
49      1               1     20.0000      47000.00
50      1               1   1699.0000    3992650.00
51      1               1     11.4400     131560.00
52      1               1    309.0000    3553500.00
53      1               1      8.0000      18800.00
54      1               1    328.0000     770800.00
55      1               1     10.0000      57000.00
56      1               1    571.0000    3254100.00
57      1               1     12.0000      94800.00
58      1               1    230.0000    1817000.00
59      1               1    858.0000    6778200.00
60      1               1   1018.0000    8042200.00
61      4               1    300.0000    2370000.00
62      4               1     30.0000     237000.00
63      4               1    794.0000    6272600.00
64      3               1    347.0000    2741300.00
65      3               1     68.0000     537200.00
66      4               1     77.0000     608300.00
67      4               1     25.0000     197500.00
68      4               1    700.0000    5530000.00
69      3               1    371.0000    4266500.00
70      3               1    371.0000    4266500.00
71      3               1     18.0000     207000.00
72      3               1    439.0000    5048500.00
73      3               1     16.0000     126400.00
74      3               1    340.0000    2686000.00
75      3               1     20.0000     114000.00
76      3               1    416.0000    2371200.00
77      3               1     14.0000      49000.00
78      3               1    410.0000    1435000.00
79      3               1     14.7500     169625.00
80      3               1    415.0000    4772500.00
81      3               1    370.0000    4255000.00
82      5               1    330.0000     122100.00
83      5               1    255.0000      94350.00
84      5               1    503.8600     186428.32
85      5               1    465.3900     172194.30
86      5               1    474.0200     175387.40
87      5               1    213.0000      78810.00
88      5               1    214.0000      79180.00
89      5               1    236.5500      87523.50
90      5               1    300.0000     111000.00
91      5               1    379.0000     140230.00
92      5               1    306.0000     113220.00
93      5               1    150.0000      55500.00
94      6               1    160.0000      59200.00
95      6               1    450.0000     337500.00
96      6               1   1503.0000    1127250.00
97      6               1   2853.0000    2139750.00
98      6               1    179.0000      66230.00
99      6               1    491.0000     368250.00
100     6               1    165.0000     123750.00
101     6               1    250.0000      92500.00
102     6               1    250.0000      92500.00
103     6               1    801.0000     296370.00
104     6               1    541.0000     200170.00
105     6               1    339.0000     125430.00
106     6               1    250.0000      92500.00
107     6               1    272.0000     100640.00
108     6               1    218.0000     135160.00
109     6               1    247.0000     185250.00
110     6               1    260.0000     195100.00
111     6               1    125.0000      93750.00
112     6               1    260.0000     195000.00
113     6               1   1999.0000     739630.00
114     7               0    372.0000     137640.00
115     7               0    502.0000     185740.00
116     7               0    475.0000     175750.00
117     7               0    250.0000      92500.00
118     7               0    590.0000     218300.00
119     7               0    200.0000      74000.00
120     7               0    212.0000      78440.00
121     7               0     79.0000      29230.00
122     7               0     39.0000      14430.00
123     7               0    285.0000     105450.00
124     7               0    176.0000      65120.00
125     7               0     86.0000      31820.00
126     7               0    375.0000     138750.00
127     7               0    456.0000     168720.00
128     8               0    118.0000      43660.00
129     8               0    321.0000     118770.00
130     8               0    119.0000      44030.00
131     8               0    698.0000     258260.00
132     8               0    120.0000      44400.00
133     8               0    206.0000      76220.00
134     8               0    300.0000     111000.00
135     8               0    100.0000      37000.00
136     8               0    109.0000      40330.00
137     9               0    485.0000     179450.00
138     9               0    164.0000      60680.00
139     9               0    183.0000      67710.00
140     9               0    182.0000      67340.00
141     9               0    500.0000     185000.00
142     9               0    200.0000      74000.00
143     9               0    241.0000      89170.00
144     9               0    200.0000      74000.00
145     9               0    136.0000      50320.00
146     9               0    518.0000     191660.00
147     9               0      0.1142       4282.50
148     9               0    228.0000      84360.00
149     9               0    150.0000      50500.00
150     9               0    370.0000     136900.00
151     5               0    140.0000      51800.00
152     5               0    293.0000     380900.00
153     5               0    150.0000      55500.00
154     5               0  10195.0000    3772150.00
155     5               0    100.0000      37000.00
156     5               0    240.0000      88800.00